@charset "UTF-8";
/**** Start Surcharges ****/
.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1em;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Open Sans", cursive, arial;
  line-height: 2;
  font-size: 1.1em;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
p {
  margin: 0;
}
h1, h2, h3, h5 {
  font-family: "Amaranth", cursive, arial;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: normal;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
main {
  background-color: #F2F2F2;
  padding: 25px 0;
}
main section, header>div {
  max-width: 75%;
}
/**** End Surcharges ****/

/**** Start Header ****/
header {
  background-color: #96B011;
  position: relative;
}
header>div {
  background: url("../img/bg.jpg") bottom center no-repeat;
  background-size: 70% auto;
  margin: 0 auto;
}
header>div>p {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
}
header>div>div {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: flex-end;
}
header>div>div>a, header>div>div>div#logo_panier  {
  width: 50%;
}
header>div>div>a>img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
header>div>div>div>p {
  font-size: 1rem;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  line-height: 1.7;

}
header>div>div>div#logo_panier {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
header>div>div>div#logo_panier p span {
  display: block;
  font-size: 1.2rem;
  text-align: right;
}
header>div>div>div p i, header>div>div>p {
  float: right;
}
header>div>div>div i.fa-3x {
  /*float: right;*/
  font-size: 4rem;
  opacity: 0.8;
}
header>div nav ul li a, footer ul#menu1_footer li a, main section#tea_palette ul li, footer nav#menu2_footer ul.nav_footer_item li h5 {
  text-transform: uppercase;
  font-size: 1.3em;
}
header>div nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}
header>div nav ul li a, footer ul#menu1_footer li a {
  color: rgba(255, 255, 255, 0.9);
}
header>div nav ul li a:first-child {
  padding-left: 20px;
}
header>div nav ul li a:last-child {
  padding-right: 20px;
}
/**** End Header ****/

/**** Start Main ****/
/**** Start Section 1 ****/
main section:first-child {
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
main section:first-child img {
  width: 98%;
  height: auto;
  margin: 1%;
}
main section:first-child>div {
  position: absolute;
  top: 4%;
  left: 1%;;
  background-color: rgba(150,176,17, 0.8);
  padding-left: 20px;
  width: 31%;
  padding-bottom: 5px;
}
/**** End Section 1 ****/

/**** Start Section 2 ****/
main section#tea_palette {
  background-color: #fff;
  margin: 25px auto;
  color: #666;
}
main section#tea_palette h2 {
  color: #666;
  padding-left: 15px;
  padding-left: 15px;
  font-size: 2.2em;
  margin: 0
}
main section#tea_palette ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
main section#tea_palette ul li {
  padding: 15px 40px;
  font-weight: bold;
  width: 20%;
}
main section#tea_palette ul li img {
  width: 100%;
  height: auto;
}
main section#tea_palette ul:hover li {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
main section#tea_palette ul li:hover {
  -webkit-filter: inherit;
          filter: inherit;
  box-shadow: 1px 1px 1px 1px rgba(150,176,17, 0.4);
  border-radius: 60px;
}
/**** End Section 2 ****/

/**** Start Section 3 ****/
main section#nouveautes {
  margin: 50px auto;
  text-align: center;
}
main section#nouveautes article {
  background-color: #fff;
  float: left;
  width: 32%;
  display: inline-block;
  padding-bottom: 15px;
}
main section#nouveautes article p, main section#nouveautes article h4 {
  color: #666;
}
main section#nouveautes article h3 {
  background-color: #F4B350;
  margin: 0;
  padding: 5px 10px;;
  font-size: 1.8rem;
  text-align: left;
}
main section#nouveautes article h3>img {
  vertical-align: text-bottom;
}
main section#nouveautes article h4 {
  font-size: 1.8rem;
  margin: 10px 0;
}
main section#nouveautes article>img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
main section#nouveautes article:first-child {
  margin-right: 2%;
}
main section#nouveautes article:first-child h3 {
  background-color: #E26A6A;
}
main section#nouveautes article:last-child {
  margin-left: 2%;
}
/**** End Section 3 ****/
/**** End Main ****/

/**** Start Footer ****/
/**** Start menu1_footer ****/
footer {
  background: url("../img/bg.jpg") bottom center no-repeat;
  text-align: center;
  background-size: 70% auto;
  margin: 0 auto;
  background-color: #96B011;
  background-size: 52.5% auto;
  padding-bottom: 20px;
}
footer ul#menu1_footer {
  margin: 0 auto;
  padding: 15px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
}
footer ul#menu1_footer li a {
  color: rgba(255, 255, 255, 0.7);
}
footer ul#menu1_footer li a i {
  display: block;
}
/**** End menu1_footer ****/

/**** Start menu2_footer ****/
footer nav#menu2_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer nav#menu2_footer ul.nav_footer_item li:first-child h5 {
  margin-bottom: 10px;
}
footer nav#menu2_footer ul.nav_footer_item li a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}
footer nav#menu2_footer ul.nav_footer_item li h5 {
  font-size: 1.5rem;
}
/**** End menu2_footer ****/
/**** End Footer ****/


/**** MEDIAS QUERIES ****/
